.cont-pokeCard{   
    background-color: rgba(127, 255, 212, 0.68); 
    width: 320px;
    height: 360px;        
    flex-direction:column;    
    justify-content: center;
    border-radius: 10px;
    gap: 1px;
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;   
}
.foto{     
    width: 95%;
    height: 70%;    
    border-radius: 4px;    
}
.poke-name{
    font-size: 17px;
    width: 100%;
    margin-left: 10px;
    border-radius: 4px;    
    margin-bottom: 0px;
    text-decoration-color:rgb(19, 18, 18);
}
.texto-inf{
    display: flex; /*con display, justify-content, aling-items -> dejo centrados los filtros*/
    justify-content:left;
    align-items:baseline; 
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;  
    text-decoration: underline; /* quito el subrayado, junto al color asignado abajo*/
    text-decoration-color:rgb(19, 18, 18);
}
.label-type{
    color: rgb(8, 8, 8); 
    margin-left: 10px;
    font-size: 15px;
}
.tipo{
    color: rgb(9, 7, 105);
    font-size: 15px;
    margin-left: 53px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.delete-poke{  
    margin-left: 40px;
    background-color: rgba(220, 71, 60, 0.815);        
    border-radius: 5px;
    font-size: 12px;
}